.carousel-item {
    height: 75vh;
    background: no-repeat center center scroll;
    background-size: cover;
    position: relative
}



.carousel-item a{
    position: absolute;
    bottom:4em;
    right:8em;
    text-transform:uppercase;
    padding:1em 1.5em;


}

.miportafolio {
    display: flex;
    align-items: center;
    justify-items: center;
    height: 100px;
    width: 100%;
}

#titulo {
    width: 100%;
    height: 100px;
    background-color: black;
}

.carousel-item button{
    position: absolute;
    bottom:4em;
    right:8em;
    text-transform:uppercase;
    padding:1em 1.5em;
}




body {
    font-family: "Basier circle", -apple-system, BlinkMacSystemFont, "Segoe UI", 
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", 
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}